# Large files (ignored by git)
apple_health_export/electrocardiograms 
apple_health_export/workout-routes 
apple_health_export/export_cda.xml 
apple_health_export/export.xml 
apple_health_export/export.zip
parsed_health_data/ActiveEnergyBurned.csv 
parsed_health_data/AppleExerciseTime.csv 
parsed_health_data/AppleStandHour.csv 
parsed_health_data/AppleStandTime.csv 
parsed_health_data/AppleWalkingSteadiness.csv 
parsed_health_data/AudioExposureEvent.csv 
parsed_health_data/BasalEnergyBurned.csv 
parsed_health_data/BodyMass.csv 
parsed_health_data/cardio_health_summary.csv 
parsed_health_data/DietaryWater.csv 
parsed_health_data/DistanceCycling.csv 
parsed_health_data/DistanceSwimming.csv 
parsed_health_data/DistanceWalkingRunning.csv 
parsed_health_data/EnvironmentalAudioExposure.csv 
parsed_health_data/EnvironmentalSoundReduction.csv 
parsed_health_data/FlightsClimbed.csv 
parsed_health_data/HandwashingEvent.csv 
parsed_health_data/HeadphoneAudioExposure.csv 
parsed_health_data/HeadphoneAudioExposureEvent.csv 
parsed_health_data/HeartRate.csv 
parsed_health_data/HeartRateRecoveryOneMinute.csv 
parsed_health_data/HeartRateVariabilitySDNN.csv 
parsed_health_data/Height.csv 
parsed_health_data/HighHeartRateEvent.csv 
parsed_health_data/HKDataTypeSleepDurationGoal.csv 
parsed_health_data/LowHeartRateEvent.csv 
parsed_health_data/MindfulSession.csv 
parsed_health_data/NumberOfTimesFallen.csv 
parsed_health_data/OxygenSaturation.csv 
parsed_health_data/PhysicalEffort.csv 
parsed_health_data/RespiratoryRate.csv 
parsed_health_data/RestingHeartRate.csv 
parsed_health_data/RunningPower.csv 
parsed_health_data/RunningSpeed.csv 
parsed_health_data/SixMinuteWalkTestDistance.csv 
parsed_health_data/SleepAnalysis.csv 
parsed_health_data/StairAscentSpeed.csv 
parsed_health_data/StairDescentSpeed.csv 
parsed_health_data/StepCount.csv 
parsed_health_data/SwimmingStrokeCount.csv 
parsed_health_data/TimeInDaylight.csv 
parsed_health_data/VO2Max.csv 
parsed_health_data/WalkingAsymmetryPercentage.csv 
parsed_health_data/WalkingDoubleSupportPercentage.csv 
parsed_health_data/WalkingHeartRateAverage.csv 
parsed_health_data/WalkingSpeed.csv 
parsed_health_data/WalkingStepLength.csv

tableau_exports/active_energy_zscore.csv 
tableau_exports/activity_union_zscore.csv 
tableau_exports/body_weight_measured_zscore.csv 
tableau_exports/env_audio_exposure_zscore.csv 
tableau_exports/exercise_time_zscore.csv 
tableau_exports/headphone_audio_zscore.csv 
tableau_exports/heart_rate_zscore.csv 
tableau_exports/heartraterecoveryoneminute_zscore.csv 
tableau_exports/heartratevariabilitysdnn_zscore.csv 
tableau_exports/hr_recovery_zscore.csv 
tableau_exports/hrv_sdnn_zscore.csv 
tableau_exports/lifestyle_union_zscore.csv 
tableau_exports/oral_fluid_input_zscore.csv 
tableau_exports/oxygen_saturation_zscore.csv 
tableau_exports/restingheartrate_zscore.csv 
tableau_exports/sleep_analysis_zscore.csv 
tableau_exports/time_in_daylight_zscore.csv 
tableau_exports/vo2max_zscore.csv 
tableau_exports/walking_running_distance_zscore.csv 
tableau_exports/workout_acceleration_zscore.csv 
tableau_exports/workout_distance_zscore.csv 
tableau_exports/workout_speed_zscore.csv
node_modules
